* {
  border: solid black 1px;

}
nav {
  background-color: grey;
}
#name{
  /*float: left;*/
}
.nav-list {
  display: block;
}
.nav-list li{
  display: inline-block;
  margin-left: 3em;
}
#projects ul{
  list-style: none;
}
img {
  max-width: 100%;
}
#project-carousel {
height: 25em;
}
#project-carousel img{
  display: block;
  margin: 0 auto;
}
footer li {
  display: inline-block;
  margin-right: 2em;
}
footer{
  background-color: grey;
}
