
nav {
  background-color: grey;
}
#name{
  /*float: left;*/
}
.nav-list {
  display: block;
}
.nav-list li{
  display: inline-block;
  margin-left: 3em;
}
#projects ul{
  list-style: none;
}
img {
  max-width: 95%;
}
#project-carousel {
  position: relative;
  height: 23em;
}
#project-carousel img {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}

#project-carousel img.active {
    z-index:10;
}

#project-carousel img.last-active {
    z-index:9;
}
footer li {
  display: inline-block;
  margin-right: 2em;
}
footer{
  background-color: grey;
}
