* {
  border: solid black 1px;

}
nav {
  background-color: grey;
}
#name{
  float: left;
}
.nav-list {
  display: block;
}
.nav-list li{
  display: inline-block;
}
img {
  /*max-width: 100%;*/
}
#project-carousel {
height: 300px;
}
