body {
  background-color: teal;
}

nav {
  width: 100%;
  background-color: grey;

}
h1 {
  text-align: center;
}

footer li {
  display: inline-block;
  margin-right: 2em;
}

footer {
  background-color: grey;
}
