
#project-carousel {
  margin: 0 auto;
  height: 23em;
  width: 31em;
  max-width: 100%;
}

#project-carousel img {
  position: absolute;
  max-width: 95%;
  z-index: 8;
}

#project-carousel img.active {
  z-index: 10;
}

#project-carousel img.last-active {
  z-index: 9;
}

#casino-war {
  background-image: url("../Images/casino-war.png");
  width: 28.13em;
  height: 18.75em;
  max-width: 100%;
}

#cookie-stand {
  max-width: 100%;
  background-image: url("../Images/cookie-stand.png");
  width: 28.13em;
  height: 18.75em;
}

#bus-mall {
  max-width: 100%;
  background-image: url("../Images/bus-mall.png");
  width: 28.13em;
  height: 18.75em;
}

#projects {
  text-align: center;
}

#projects div {
  display: inline-block;

}

#projects div h2 a {
  color: white;
}

#projects div h2 {
  text-align: center;
}
